<div class="actualdatadashboard-1-2252" name="Actual Data Dash board">
 <div class="group-1-2253" name="Group">
  <div class="group-1-2254" name="Group">
  </div>
  <label class="text-1-2255" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-1-2256" name="Group">
  <div class="group-1-2257" name="Group">
  </div>
  <img class="vector-1-2258" src="assets/images/Modules/actual-data-dash-board/vector-1_2258.svg"/>
  <img class="vector-1-2267" src="assets/images/Modules/actual-data-dash-board/vector-1_2267.svg"/>
  <div class="group-1-2274" name="Group">
   <div class="group-1-2275" name="Group">
   </div>
   <div class="group-1-2276" name="Group">
    <div class="group-1-2277" name="Group">
     <div class="group-1-2278" name="Group">
      <div class="group-1-2279" name="Group">
       <label class="text-1-2280" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-1-2281" name="Group">
        <label class="text-1-2282" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-1-2283" src="assets/images/Modules/actual-data-dash-board/vector-1_2283.svg"/>
       </div>
      </div>
      <div class="group-1-2287" name="Group">
       <div class="group-1-2288" name="Group">
        <img class="vector-1-2289" src="assets/images/Modules/actual-data-dash-board/vector-1_2289.svg"/>
        <label class="text-1-2291" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-1-2292" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-1-2293" name="Group">
       <div class="group-1-2294" name="Group">
        <img class="vector-1-2295" src="assets/images/Modules/actual-data-dash-board/vector-1_2295.svg"/>
        <label class="text-1-2297" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-1-2298" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-1-2299" name="Group">
         <div class="group-1-2300" name="Group">
          <div class="group-1-2301" name="Group">
          </div>
          <label class="text-1-2302" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2303" name="Group">
       <div class="group-1-2304" name="Group">
        <img class="vector-1-2305" src="assets/images/Modules/actual-data-dash-board/vector-1_2305.svg"/>
        <label class="text-1-2307" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-1-2308" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-1-2309" name="Group">
       <div class="group-1-2310" name="Group">
        <div class="group-1-2311" name="Group">
         <img class="vector-1-2312" src="assets/images/Modules/actual-data-dash-board/vector-1_2312.svg"/>
         <label class="text-1-2314" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-1-2315" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-1-2316" name="Group">
      <div class="group-1-2317" name="Group">
       <div class="group-1-2318" name="Group">
        <div class="group-1-2319" name="Group">
         <div class="group-1-2320" name="Group">
          <div class="group-1-2321" name="Group">
           <label class="text-1-2322" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-1-2323" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-1-2324" src="assets/images/Modules/actual-data-dash-board/vector-1_2324.svg"/>
           <label class="text-1-2326" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2327" name="Group">
       <div class="group-1-2328" name="Group">
        <div class="group-1-2329" name="Group">
         <label class="text-1-2330" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-1-2331" name="Group">
          <label class="text-1-2332" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-1-2333" src="assets/images/Modules/actual-data-dash-board/vector-1_2333.svg"/>
        </div>
       </div>
      </div>
      <div class="group-1-2335" name="Group">
       <div class="group-1-2336" name="Group">
        <div class="group-1-2337" name="Group">
         <img class="vector-1-2338" src="assets/images/Modules/actual-data-dash-board/vector-1_2338.svg"/>
         <div class="group-1-2340" name="Group">
          <div class="group-1-2341" name="Group">
           <label class="text-1-2342" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-1-2343" name="Group">
           <div class="group-1-2344" name="Group">
            <label class="text-1-2345" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2346" name="Group">
       <div class="group-1-2347" name="Group">
        <div class="group-1-2348" name="Group">
         <div class="group-1-2349" name="Group">
          <label class="text-1-2350" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-1-2351" type="text" value="03">
           03
          </label>
          <img class="vector-1-2352" src="assets/images/Modules/actual-data-dash-board/vector-1_2352.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2354" name="Group">
       <div class="group-1-2355" name="Group">
        <div class="group-1-2356" name="Group">
         <label class="text-1-2357" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-1-2358" type="text" value="03">
          03
         </label>
         <img class="vector-1-2359" src="assets/images/Modules/actual-data-dash-board/vector-1_2359.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-1-2365" src="assets/images/Modules/actual-data-dash-board/vector-1_2365.svg"/>
   </div>
  </div>
  <img class="vector-1-2366" src="assets/images/Modules/actual-data-dash-board/vector-1_2366.svg"/>
  <div class="group-1-2367" name="Group">
   <div class="group-1-2368" name="Group">
    <div class="group-1-2369" name="Group">
     <select class="dropdown-1-2370">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-1-2377" name="Group">
      <img class="vector-1-2378" src="assets/images/Modules/actual-data-dash-board/vector-1_2378.svg"/>
      <label class="text-1-2379" type="text" value="3">
       3
      </label>
     </div>
    </div>
    <div class="group-1-2380" name="Group">
     <select class="dropdown-1-2381">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-1-2388" name="Group">
      <img class="vector-1-2389" src="assets/images/Modules/actual-data-dash-board/vector-1_2389.svg"/>
      <label class="text-1-2390" type="text" value="8">
       8
      </label>
     </div>
    </div>
   </div>
   <div class="group-1-2391" name="Group">
    <div class="group-1-2392" name="Group">
     <button class="btn-1-2393" type="button">
      <img class="vector-1-2395" src="assets/images/Modules/actual-data-dash-board/vector-1_2395.svg"/>
     </button>
     <label class="text-1-2406" type="text" value="St. Michael Medical Center: 921409198-87861">
      St. Michael Medical Center: 921409198-87861
     </label>
    </div>
    <button class="btn-1-2407" type="button">
     <img class="vector-1-2410" src="assets/images/Modules/actual-data-dash-board/vector-1_2410.svg"/>
     Complete
    </button>
    <button class="btn-1-2412" type="button">
     <img class="vector-1-2414" src="assets/images/Modules/actual-data-dash-board/vector-1_2414.svg"/>
    </button>
   </div>
  </div>
  <div class="group-1-2415" name="Group">
   <select class="dropdown-1-2416">
    <option selected="" value="">
     Department Baseline
    </option>
   </select>
   <div class="group-1-2421" name="Group">
    <div class="group-1-2422" name="Group">
     <button class="btn-1-2423" type="button">
      <img class="vector-1-2425" src="assets/images/Modules/actual-data-dash-board/vector-1_2425.svg"/>
     </button>
     <button class="btn-1-2428" type="button">
      <img class="vector-1-2430" src="assets/images/Modules/actual-data-dash-board/vector-1_2430.svg"/>
     </button>
     <button class="btn-1-2433" type="button">
      <img class="vector-1-2435" src="assets/images/Modules/actual-data-dash-board/vector-1_2435.svg"/>
     </button>
     <button class="btn-1-2442" type="button">
      <img class="vector-1-2444" src="assets/images/Modules/actual-data-dash-board/vector-1_2444.svg"/>
     </button>
     <button class="btn-1-2448" type="button">
      <img class="vector-1-2450" src="assets/images/Modules/actual-data-dash-board/vector-1_2450.svg"/>
     </button>
     <button class="btn-1-2454" type="button">
      <img class="vector-1-2456" src="assets/images/Modules/actual-data-dash-board/vector-1_2456.svg"/>
     </button>
    </div>
    <button class="btn-1-2458" type="button">
     <img class="vector-1-2460" src="assets/images/Modules/actual-data-dash-board/vector-1_2460.svg"/>
    </button>
   </div>
   <select class="dropdown-1-2467">
    <option selected="" value="">
     Time Period
    </option>
   </select>
  </div>
  <div class="group-1-2471" name="Group">
   <div class="group-1-2472" name="Group">
   </div>
   <button class="btn-1-2473" type="button">
    <img class="vector-1-2475" src="assets/images/Modules/actual-data-dash-board/vector-1_2475.svg"/>
   </button>
   <div class="group-1-2478" name="Group">
    <img class="vector-1-2479" src="assets/images/Modules/actual-data-dash-board/vector-1_2479.svg"/>
    <label class="text-1-2484" type="text" value="Base Line">
     Base Line
    </label>
   </div>
  </div>
  <img class="vector-1-2485" src="assets/images/Modules/actual-data-dash-board/vector-1_2485.svg"/>
  <div class="group-1-2726" name="Group">
   <div class="group-1-2727" name="Group">
    <label class="text-1-2728" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-1-2729" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-1-2730" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-1-2731" src="assets/images/Modules/actual-data-dash-board/vector-1_2731.svg"/>
    <div class="group-1-2733" name="Group">
     <img class="vector-1-2734" src="assets/images/Modules/actual-data-dash-board/vector-1_2734.svg"/>
     <label class="text-1-2736" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-1-2737" src="assets/images/Modules/actual-data-dash-board/vector-1_2737.svg"/>
   </div>
  </div>
  <div class="group-1-2742" name="Group">
   <select class="dropdown-1-2743">
    <option selected="" value="">
     Shift Duration Time
    </option>
   </select>
   <button class="btn-1-2747" type="button">
    <img class="vector-1-2750" src="assets/images/Modules/actual-data-dash-board/vector-1_2750.svg"/>
    What If Scenario A
   </button>
   <select class="dropdown-1-2753">
    <option selected="" value="">
     Day Of The Week
    </option>
   </select>
   <select class="dropdown-1-2757">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <div class="group-1-2761" name="Group">
    <div class="group-1-2762" name="Group">
     <label class="text-1-2763" type="text" value="1D">
      1D
     </label>
     <label class="text-1-2764" type="text" value="1M">
      1M
     </label>
     <label class="text-1-2765" type="text" value="3M">
      3M
     </label>
     <label class="text-1-2766" type="text" value="6M">
      6M
     </label>
     <img class="vector-1-2767" src="assets/images/Modules/actual-data-dash-board/vector-1_2767.svg"/>
     <label class="text-1-2769" type="text" value="7D">
      7D
     </label>
    </div>
   </div>
   <img class="vector-1-2770" src="assets/images/Modules/actual-data-dash-board/vector-1_2770.svg"/>
   <select class="dropdown-1-2774">
    <option selected="" value="">
     View
    </option>
   </select>
  </div>
  <button class="btn-1-2778" type="button">
   <img class="vector-1-2781" src="assets/images/Modules/actual-data-dash-board/vector-1_2781.svg"/>
   Create what-if analysis
  </button>
  <div class="group-1-2783" name="Group">
   <div class="group-1-2784" name="Group">
    <div class="group-1-2785" name="Group">
    </div>
    <div class="group-1-2786" name="Group">
     <div class="group-1-2787" name="Group">
     </div>
     <div class="group-1-2788" name="Group">
      <button class="btn-1-2789" type="button">
       <img class="vector-1-2791" src="assets/images/Modules/actual-data-dash-board/vector-1_2791.svg"/>
      </button>
      <button class="btn-1-2793" type="button">
       <img class="vector-1-2795" src="assets/images/Modules/actual-data-dash-board/vector-1_2795.svg"/>
      </button>
     </div>
     <div class="group-1-2798" name="Group">
      <label class="text-1-2799" type="text" value="Performance analysis">
       Performance analysis
      </label>
      <img class="vector-1-2800" src="assets/images/Modules/actual-data-dash-board/vector-1_2800.svg"/>
     </div>
    </div>
   </div>
   <div class="group-1-2804" name="Group">
    <div class="group-1-2805" name="Group">
    </div>
    <label class="text-1-2806" type="text" value="Pending actual data for time period">
     Pending actual data for time period
    </label>
   </div>
   <img class="vector-1-2807" src="assets/images/Modules/actual-data-dash-board/vector-1_2807.svg"/>
  </div>
 </div>
 <div class="group-1-2829" name="Group">
  <div class="group-1-2830" name="Group">
  </div>
  <label class="text-1-2831" type="text" value="Dash Board">
   Dash Board
  </label>
  <label class="text-1-2832" type="text" value="Information snippet and management from Base Line, What-if, and Performance analysis pages">
   Information snippet and management from Base Line, What-if, and Performance analysis pages
  </label>
  <img class="vector-1-2833" src="assets/images/Modules/actual-data-dash-board/vector-1_2833.svg"/>
 </div>
 <div class="group-1-2834" name="Group">
  <div class="group-1-2835" name="Group">
  </div>
  <img class="vector-1-2836" src="assets/images/Modules/actual-data-dash-board/vector-1_2836.svg"/>
  <img class="vector-1-2839" src="assets/images/Modules/actual-data-dash-board/vector-1_2839.svg"/>
  <img class="vector-1-2864" src="assets/images/Modules/actual-data-dash-board/vector-1_2864.svg"/>
  <img class="vector-1-2865" src="assets/images/Modules/actual-data-dash-board/vector-1_2865.svg"/>
  <button class="btn-1-2870" type="button">
   <img class="vector-1-2873" src="assets/images/Modules/actual-data-dash-board/vector-1_2873.svg"/>
   Create Baseline
  </button>
 </div>
</div>
