

.actualdatadashboard-1-2252{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-1-2253{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1484px; left: calc( ( ( 100% - 1440px) / 2 ) + 13px);background:''}

.group-1-2254{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-1-2255{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2256{
position:absolute ;width: 1377.0px; height: 1314.0px;  background-color: rgba(255,255,255,1.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-1-2257{
position:absolute ;width: 1367.0px; height: 1231.0px;  background-color: rgba(255,255,255,1.0);top:83px; left: 5px;background:''}

.vector-1-2258{
position: absolute;left: 1324.03564453125px; top: 95.0px; width: 34.634521484375px; height: 28.0009765625}

.vector-1-2267{
position: absolute;left: 1230.0003051757812px; top: 96.999267578125px; width: 77.5234375px; height: 25.007415771484375}

.group-1-2274{
position:absolute ;width: 1341.0px; height: 90.0px;  background-color: rgba(0,0,0,0.0);top:151px; left: 18px;border-radius: 2.0px;background:''}

.group-1-2275{
position:absolute ;width: 1341.0px; height: 90.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2276{
position:absolute ;width: 1320.0px; height: 70.00006103515625px;  background-color: rgba(0,0,0,0.0);top:10px; left: 11px;border-radius: 2.0px;background:''}

.group-1-2277{
position:absolute ;width: 1141.0px; height: 70.00006103515625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2278{
position:absolute ;width: 1141.0px; height: 30.00006103515625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2279{
position:absolute ;width: 218.58575439453125px; height: 29.98638916015625px;  background-color: rgba(255,255,255,1.0);top:1px; left: 479px;border-radius: 2.0px;background:''}

.text-1-2280{
position: absolute;
left: 116.56640625px;
 top: 11.0px;
 width: 85.53356170654297px;
 height: 6.975494384765625px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-1-2281{
position:absolute ;width: 80.25405883789062px; height: 10.961517333984375px;  background-color: rgba(0,0,0,0.0);top:9px; left: 17px;background:''}

.text-1-2282{
position: absolute;
left: 18.2578125px;
 top: 2.0px;
 width: 61.246246337890625px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-1-2283{
position: absolute;left: 0.75px; top: -0.767578125px; width: 11.61566162109375px; height: 10.961517333984375}

.group-1-2287{
position:absolute ;width: 196.41038513183594px; height: 29.98638916015625px;  background-color: rgba(255,255,255,1.0);top:1px; left: 707px;border-radius: 2.0px;background:''}

.group-1-2288{
position:absolute ;width: 179.51486206054688px; height: 22.919525146484375px;  background-color: rgba(0,0,0,0.0);top:4px; left: 7px;background:''}

.vector-1-2289{
position: absolute;left: 3.892578125px; top: 5.7247314453125px; width: 11.0px; height: 11.0}

.text-1-2291{
position: absolute;
left: 116.052734375px;
 top: 7.0px;
 width: 49.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2292{
position: absolute;
left: 22.01171875px;
 top: 7.0px;
 width: 68.63803100585938px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2293{
position:absolute ;width: 227.0px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 914px;border-radius: 2.0px;background:''}

.group-1-2294{
position:absolute ;width: 204.45895385742188px; height: 22.929931640625px;  background-color: rgba(0,0,0,0.0);top:5px; left: 11px;background:''}

.vector-1-2295{
position: absolute;left: 0.0px; top: 4.98828125px; width: 11.0px; height: 11.0}

.text-1-2297{
position: absolute;
left: 107.0px;
 top: 8.0px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2298{
position: absolute;
left: 15.0px;
 top: 6.9921875px;
 width: 88.07464599609375px;
 height: 7.003173828125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2299{
position:absolute ;width: 18.026519775390625px; height: 17.9075927734375px;  background-color: rgba(0,0,0,0.0);top:3px; left: 194px;border-radius: 12.982590675354004px;background:''}

.group-1-2300{
position:absolute ;width: 18.026519775390625px; height: 17.9075927734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 12.982590675354004px;background:''}

.group-1-2301{
position:absolute ;width: 18.026519775390625px; height: 17.907257080078125px;  background-color: rgba(233,241,254,1.0);top:1px; left: 0px;border-radius: 12.982590675354004px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-1-2302{
position: absolute;
left: 5.0px;
 top: 6.0px;
 width: 9.064056396484375px;
 height: 6.002716064453125px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2303{
position:absolute ;width: 246.04095458984375px; height: 29.98638916015625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 222px;border-radius: 2.0px;background:''}

.group-1-2304{
position:absolute ;width: 227.03350830078125px; height: 23.090179443359375px;  background-color: rgba(0,0,0,0.0);top:4px; left: 10px;background:''}

.vector-1-2305{
position: absolute;left: 3.07012939453125px; top: 5.986328125px; width: 9.623291015625px; height: 9.623291015625}

.text-1-2307{
position: absolute;
left: 98.44708251953125px;
 top: 6.986328125px;
 width: 115.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2308{
position: absolute;
left: 20.18927001953125px;
 top: 6.986328125px;
 width: 65.47012329101562px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2309{
position:absolute ;width: 211.1939697265625px; height: 29.999664306640625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2310{
position:absolute ;width: 209.08203125px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:4px; left: 3px;background:''}

.group-1-2311{
position:absolute ;width: 180.0px; height: 11.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 15px;background:''}

.vector-1-2312{
position: absolute;left: 0.986328125px; top: 0.0px; width: 10.0px; height: 11.0}

.text-1-2314{
position: absolute;
left: 95.013671875px;
 top: 1.0px;
 width: 84.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2315{
position: absolute;
left: 16.240234375px;
 top: 1.0px;
 width: 68.48394775390625px;
 height: 8.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2316{
position:absolute ;width: 1141.0px; height: 30.00006103515625px;  background-color: rgba(0,0,0,0.0);top:40px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2317{
position:absolute ;width: 218.5858154296875px; height: 29.98638916015625px;  background-color: rgba(255,255,255,1.0);top:1px; left: 479px;border-radius: 2.0px;background:''}

.group-1-2318{
position:absolute ;width: 180.021728515625px; height: 12.46417236328125px;  background-color: rgba(0,0,0,0.0);top:8px; left: 18px;border-radius: 2.0px;background:''}

.group-1-2319{
position:absolute ;width: 180.021728515625px; height: 12.46417236328125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2320{
position:absolute ;width: 180.021728515625px; height: 12.46417236328125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2321{
position:absolute ;width: 180.021728515625px; height: 12.46417236328125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2322{
position: absolute;
left: 15.850234985351562px;
 top: 2.138671875px;
 width: 69.98384857177734px;
 height: 8.3201904296875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-1-2323{
position: absolute;
left: 129.42712783813477px;
 top: 0.146484375px;
 width: 24.630704879760742px;
 height: 12.198944091796875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2324{
position: absolute;left: 0.60546875px; top: 1.138671875px; width: 10.111892700195312px; height: 10.1937255859375}

.text-1-2326{
position: absolute;
left: 157.20072174072266px;
 top: 2.1484375px;
 width: 22.199695587158203px;
 height: 7.635040283203125px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2327{
position:absolute ;width: 196.4104461669922px; height: 29.98638916015625px;  background-color: rgba(255,255,255,1.0);top:1px; left: 707px;border-radius: 2.0px;background:''}

.group-1-2328{
position:absolute ;width: 160.6455841064453px; height: 11.9967041015625px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;border-radius: 2.0px;background:''}

.group-1-2329{
position:absolute ;width: 160.6455841064453px; height: 11.9967041015625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2330{
position: absolute;
left: 20.211585998535156px;
 top: 3.72265625px;
 width: 52.33815002441406px;
 height: 6.5491943359375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2331{
position:absolute ;width: 61.848480224609375px; height: 11.731109619140625px;  background-color: rgba(0,0,0,0.0);top:1px; left: 99px;background:''}

.text-1-2332{
position: absolute;
left: 0.7973480224609375px;
 top: -0.824005126953125px;
 width: 61.819305419921875px;
 height: 11.730987548828125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.vector-1-2333{
position: absolute;left: 1.01171875px; top: 2.0px; width: 12.393829345703125px; height: 8.49066162109375}

.group-1-2335{
position:absolute ;width: 227.0px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 914px;border-radius: 2.0px;background:''}

.group-1-2336{
position:absolute ;width: 197.76065063476562px; height: 12.08843994140625px;  background-color: rgba(0,0,0,0.0);top:9px; left: 9px;border-radius: 2.0px;background:''}

.group-1-2337{
position:absolute ;width: 197.76065063476562px; height: 12.08843994140625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-2338{
position: absolute;left: 0.990234375px; top: 1.0390625px; width: 10.160308837890625px; height: 10.19586181640625}

.group-1-2340{
position:absolute ;width: 182.52191162109375px; height: 12.063079833984375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 16px;background:''}

.group-1-2341{
position:absolute ;width: 47.639251708984375px; height: 9.387786865234375px;  background-color: rgba(0,0,0,0.0);top:3px; left: 0px;background:''}

.text-1-2342{
position: absolute;
left: 0.235076904296875px;
 top: -0.923828125px;
 width: 47.624603271484375px;
 height: 9.387725830078125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2343{
position:absolute ;width: 60.61199951171875px; height: 11.86016845703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 122px;background:''}

.group-1-2344{
position:absolute ;width: 60.61199951171875px; height: 11.86016845703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-1-2345{
position: absolute;
left: 0.126251220703125px;
 top: -0.003936767578125px;
 width: 60.61199951171875px;
 height: 11.84002685546875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2346{
position:absolute ;width: 246.04103088378906px; height: 29.98638916015625px;  background-color: rgba(255,255,255,1.0);top:1px; left: 222px;border-radius: 2.0px;background:''}

.group-1-2347{
position:absolute ;width: 207.1399383544922px; height: 12.572052001953125px;  background-color: rgba(0,0,0,0.0);top:9px; left: 14px;border-radius: 2.0px;background:''}

.group-1-2348{
position:absolute ;width: 207.1399383544922px; height: 12.572052001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2349{
position:absolute ;width: 207.1399383544922px; height: 12.572052001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2350{
position: absolute;
left: 16.78662109375px;
 top: 0.01171875px;
 width: 110.67050170898438px;
 height: 12.12359619140625px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-1-2351{
position: absolute;
left: 194.0384521484375px;
 top: 0.0859375px;
 width: 12.6689453125px;
 height: 10.632354736328125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2352{
position: absolute;left: 0.41796875px; top: 0.0px; width: 15.024932861328125px; height: 10.2010498046875}

.group-1-2354{
position:absolute ;width: 211.19403076171875px; height: 29.999664306640625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2355{
position:absolute ;width: 170.23782348632812px; height: 12.42034912109375px;  background-color: rgba(0,0,0,0.0);top:9px; left: 19px;border-radius: 2.0px;background:''}

.group-1-2356{
position:absolute ;width: 170.23782348632812px; height: 12.4039306640625px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2357{
position: absolute;
left: 16.25054931640625px;
 top: -0.83984375px;
 width: 76.36529541015625px;
 height: 12.121551513671875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-1-2358{
position: absolute;
left: 157.2464599609375px;
 top: 0.0px;
 width: 12.102508544921875px;
 height: 11.017425537109375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2359{
position: absolute;left: 0.87109375px; top: -0.9881591796875px; width: 11.49591064453125px; height: 10.93963623046875}

.vector-1-2365{
position: absolute;left: 1152.0px; top: 0.0px; width: 168.0px; height: 70.0}

.vector-1-2366{
position: absolute;left: 5.0px; top: 136.20001220703125px; width: 1367.0px; height: 1}

.group-1-2367{
position:absolute ;width: 1196.353759765625px; height: 28.33062744140625px;  background-color: rgba(0,0,0,0.0);top:95px; left: 19px;background:''}

.group-1-2368{
position:absolute ;width: 278.35504150390625px; height: 28.33062744140625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 916px;background:''}

.group-1-2369{
position:absolute ;width: 130.73036193847656px; height: 28.33062744140625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.dropdown-1-2370{
position: absolute;left: 0.9375457763671875px; top: -0.01800537109375px;background-color: rgba(33, 150, 243, 1.0);; width: 125.25492858886719px; height: 28.268890380859375px;
font-size: 9.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold;
}

.group-1-2377{
position:absolute ;width: 13.009429931640625px; height: 13.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 118px;background:''}

.vector-1-2378{
position: absolute;left: 0.7176513671875px; top: -0.935546875px; width: 13.009429931640625px; height: 13.000030517578125}

.text-1-2379{
position: absolute;
left: 4.7215576171875px;
 top: 2.064453125px;
 width: 5.003631591796875px;
 height: 6.0px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2380{
position:absolute ;width: 131.3853759765625px; height: 28.153350830078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 147px;background:''}

.dropdown-1-2381{
position: absolute;left: 0.96832275390625px; top: 0.0px;background-color: rgba(34, 148, 94, 1.0);; width: 131.3853759765625px; height: 28.153350830078125px;
font-size: 9.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold;
}

.group-1-2388{
position:absolute ;width: 13.017120361328125px; height: 12.477630615234375px;  background-color: rgba(0,0,0,0.0);top:1px; left: 119px;background:''}

.vector-1-2389{
position: absolute;left: 0.217559814453125px; top: -0.92578125px; width: 13.012176513671875px; height: 12.47222900390625}

.text-1-2390{
position: absolute;
left: 3.9364013671875px;
 top: 3.333984375px;
 width: 5.0048828125px;
 height: 5.252349853515625px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2391{
position:absolute ;width: 478.99969482421875px; height: 20.0px;  background-color: rgba(0,0,0,0.0);top:4px; left: 0px;background:''}

.group-1-2392{
position:absolute ;width: 354.0354919433594px; height: 19.76226806640625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-2395{
position: relative; width: 11.0921630859375px; height: 11.084136962890625}

.btn-1-2393{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.99969482421875px;
 top: 0.0px;
 width: 19.09613037109375px;
 height: 19.10540771484375px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.text-1-2406{
position: absolute;
left: 23.01849365234375px;
 top: 4.3828125px;
 width: 330.0128479003906px;
 height: 13.4749755859375px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2410{
position: relative; width: 9.40411376953125px; height: 7.16937255859375}

.btn-1-2407{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 390.0px;
 top: 1.0px;
 width: 88.0px;
 height: 19.0px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(33, 150, 83, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.vector-1-2414{
position: relative; width: 6.99267578125px; height: 10.786041259765625}

.btn-1-2412{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 362.9997253417969px;
 top: 1.0px;
 width: 19.0040283203125px;
 height: 18.8031005859375px;
border-radius: 2.0px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.group-1-2415{
position:absolute ;width: 1140.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:48px; left: 5px;background:''}

.dropdown-1-2416{
position: absolute;left: 0.0px; top: 1.0px;background-color: rgba(33, 150, 243, 1.0);; width: 197.0px; height: 28.0px;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-SemiBold;
}

.group-1-2421{
position:absolute ;width: 226.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 914px;border-radius: 2.0px;background:''}

.group-1-2422{
position:absolute ;width: 193.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 33px;border-radius: 2.0px;background:''}

.vector-1-2425{
position: relative; width: 18.0px; height: 18.0}

.btn-1-2423{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 165.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-1-2430{
position: relative; width: 18.0px; height: 18.0}

.btn-1-2428{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 132.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-1-2435{
position: relative; width: 18.0px; height: 18.0}

.btn-1-2433{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 99.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-1-2444{
position: relative; width: 18.0px; height: 18.0}

.btn-1-2442{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 66.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-1-2450{
position: relative; width: 18.0px; height: 18.0}

.btn-1-2448{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 33.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-1-2456{
position: relative; width: 18.0px; height: 18.0}

.btn-1-2454{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-1-2460{
position: relative; width: 23.0px; height: 23.0}

.btn-1-2458{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 27.0px;
 height: 27.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.dropdown-1-2467{
position: absolute;left: 220.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-1-2471{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-2472{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.vector-1-2475{
position: relative; width: 18.0px; height: 18.0}

.btn-1-2473{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1340.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-1-2478{
position:absolute ;width: 117.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-1-2479{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-1-2484{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 82.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-1-2485{
position: absolute;left: 18.0px; top: 396.0px; width: 1341.0px; height: 588.0}

.group-1-2726{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(0,0,0,0.0);top:253px; left: 1063px;border-radius: 2.0px;background:''}

.group-1-2727{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(222,246,243,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 1.0px 15.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.text-1-2728{
position: absolute;
left: 34.205108642578125px;
 top: 12.302734375px;
 width: 98.49951171875px;
 height: 7.110260009765625px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2729{
position: absolute;
left: 34.20269775390625px;
 top: 29.0px;
 width: 84.01992797851562px;
 height: 8.06817626953125px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2730{
position: absolute;
left: 122.203125px;
 top: 46.0px;
 width: 169.0px;
 height: 29.0px;
font-size: 41.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2731{
position: absolute;left: 8.203125px; top: 16.0px; width: 17.0px; height: 17.0}

.group-1-2733{
position:absolute ;width: 43.0px; height: 15.0px;  background-color: rgba(255,255,255,1.0);top:60px; left: 76px;border-radius: 2.0px;background:''}

.vector-1-2734{
position: absolute;left: 2.203125px; top: 3.0px; width: 10.0px; height: 10.0}

.text-1-2736{
position: absolute;
left: 12.028076171875px;
 top: 5.0px;
 width: 29.018798828125px;
 height: 6.01873779296875px;
font-size: 9.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2737{
position: absolute;left: 10.0px; top: 62.0px; width: 20.991729736328125px; height: 13.43572998046875}

.group-1-2742{
position:absolute ;width: 1320.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:352px; left: 30px;background:''}

.dropdown-1-2743{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.vector-1-2750{
position: relative; width: 16.0px; height: 16.0}

.btn-1-2747{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 808.0px;
 top: 0.0px;
 width: 163.0052490234375px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 220, 216, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 115, 99, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.dropdown-1-2753{
position: absolute;left: 188.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.dropdown-1-2757{
position: absolute;left: 364.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 210.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-1-2761{
position:absolute ;width: 186.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1115px;background:''}

.group-1-2762{
position:absolute ;width: 186.0px; height: 29.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 1.0px 15.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.text-1-2763{
position: absolute;
left: 10.0px;
 top: 11.0px;
 width: 17.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2764{
position: absolute;
left: 73.0px;
 top: 11.0px;
 width: 18.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2765{
position: absolute;
left: 105.0px;
 top: 11.0px;
 width: 20.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2766{
position: absolute;
left: 134.0px;
 top: 11.0px;
 width: 20.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2767{
position: absolute;left: 163.0px; top: 7.0px; width: 15.0px; height: 15.0}

.text-1-2769{
position: absolute;
left: 41.0px;
 top: 11.0px;
 width: 18.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2770{
position: absolute;left: 1307.0px; top: 7.0px; width: 13.0px; height: 20.0}

.dropdown-1-2774{
position: absolute;left: 987.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 117.0px; height: 29.302322387695312px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.vector-1-2781{
position: relative; width: 24.0px; height: 24.0}

.btn-1-2778{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1151.0px;
 top: 50.0px;
 width: 218.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-1-2783{
position:absolute ;width: 1377.0px; height: 256.0px;  background-color: rgba(255,255,255,1.0);top:1003px; left: 0px;background:''}

.group-1-2784{
position:absolute ;width: 1377.0px; height: 154.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-2785{
position:absolute ;width: 1377.0px; height: 110.0px;  background-color: rgba(255,255,255,1.0);top:44px; left: 0px;background:''}

.group-1-2786{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-2787{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-1-2788{
position:absolute ;width: 63.93695068359375px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 1301px;border-radius: 2.0px;background:''}

.vector-1-2791{
position: relative; width: 18.0626220703125px; height: 18.0}

.btn-1-2789{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 28.0626220703125px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-1-2795{
position: relative; width: 18.06585693359375px; height: 18.0}

.btn-1-2793{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 35.87109375px;
 top: 0.0px;
 width: 28.06585693359375px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-1-2798{
position:absolute ;width: 242.88604736328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 11px;background:''}

.text-1-2799{
position: absolute;
left: 34.16796875px;
 top: 7.0px;
 width: 207.75714111328125px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-1-2800{
position: absolute;left: 0.9609375px; top: 0.0px; width: 24.0877685546875px; height: 24.0}

.group-1-2804{
position:absolute ;width: 270.0px; height: 25.0px;  background-color: rgba(0,0,0,0.0);top:166px; left: 553px;border-radius: 7.0px;background:''}

.group-1-2805{
position:absolute ;width: 270.0px; height: 25.0px;  background-color: rgba(255,255,255,0.47999998927116394);top:0px; left: 0px;border-radius: 7.0px;background:''}

.text-1-2806{
position: absolute;
left: 16.05859375px;
 top: 6.0px;
 width: 238.884765625px;
 height: 13.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Inter; font-weight: 500;
}

.vector-1-2807{
position: absolute;left: 671.0px; top: 116.0px; width: 34.0px; height: 34.0}

.group-1-2829{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(0,0,0,0.0);top:275px; left: calc( ( ( 100% - 1440px) / 2 ) + 1176px);background:''}

.group-1-2830{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-1-2831{
position: absolute;
left: 25.0px;
 top: 19.0px;
 width: 167.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2832{
position: absolute;
left: 252.0px;
 top: 17.0px;
 width: 393.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-1-2833{
position: absolute;left: 222.0px; top: 11.0px; width: 1.0px; height: 46.0}

.group-1-2834{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-2835{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-1-2836{
position: absolute;left: 1374.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-1-2839{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53839111328125px; height: 33.9761962890625}

.vector-1-2864{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-1-2865{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-1-2873{
position: relative; width: 24.0px; height: 24.0}

.btn-1-2870{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 222.0px;
 top: 20.0px;
 width: 156.0px;
 height: 36.0px;
 background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}